* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 20px;
}

.guess-item {
  padding: 0 5px;
}

.modal-container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 200px;
  background-color: rgb(255, 18, 77);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 20px;
}

.hidden {
  display: none;
}

.play-again-btn {
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.play-again-btn:hover,
.guess-button {
  background-color: rgb(255, 195, 210);
}

.dropdown,
.guess-button {
  padding: 5px 10px;
  border-radius: 8px;
  border: 1px solid black;
  width: 100px;
}

.guess-button {
  border: 1px solid rgb(255, 195, 210);
  cursor: pointer;
}

.dropdown-container {
  display: flex;
  justify-content: center;
}

.dropdown,
.guess-button {
  margin: 0 10px;
  height: 40px;
}

.guess-list {
  padding-left: 15px;
}

.guess-list-container {
  font-size: 14px;
  min-height: 400px;
  width: 180px;
  border: 1px solid black;
  padding: 0 15px;
  border-radius: 8px;
}

.game-container {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 1100px) {
  .dropdown-container {
    flex-direction: column;
  }
  .game-container {
    align-items: flex-start;
  }
  .dropdown,
  .guess-button {
    margin: 10px;
  }
  .dropdown:first-child {
    margin-top: 0;
  }
}

@media (max-width: 520px) {
  .game-container {
    justify-content: space-between;
  }
}
